html, body {
  font: 16px/1.5 aktiv-grotesk, sans-serif;
  font-weight: 300;
  height: 100%;
}

body {
  background: #c4230f;
  color: white;
  margin: 0;
}

h1 { font-size: 1.728em; }
h2 { font-size: 1.44em; }
h3 { font-size: 1.2em; }
a { color: inherit; }
code { font-family: ubuntu-mono, monospace !important; }
figcaption { font-size: 0.83em; text-align: center; }

.logo {
  width: 30rem;
  height: 30rem;
  margin-right: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo svg {
  width: 100%;
  height: 100%;
}

.logo line {
  stroke: white;
  stroke-linecap: round;
}

.text {
  line-height: 1.2;
  font-size: 2rem;
}

.text h1 {
  font-weight: 800;
  margin: 0 0 .2rem;
}

.text p {
  margin: 0;
  padding: 0;
  opacity: 0.8;
}

.text .desc {
  display: inline-block;
  width: 10rem;
  white-space: nowrap;
  padding: 0;
}

article {
  margin: 3rem auto;
}

h2, h3, p {
  margin: 0 auto 1.5rem;
}

h2, h3, p, pre.language-js, figcaption {
  box-sizing: border-box;
  max-width: 40rem;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

p img {
  max-width: 100%;
}

h2 span {
  position: relative;
}

h2 span:before {
  content: ' ';
  display: block;
  position: absolute;
  left: -.2rem;
  top: .4rem;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
}

figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
	flex-direction: column;
  margin-bottom: 1.5rem;
}

@media (max-width: 50rem) {
  pre.language-js { border-radius: 0; }
  figure .logo {
    width: calc(100vw - 1.5rem);
    height: calc(100vw - 1.5rem);
    margin-right: 0;
  }
}
